@import "grilles/grille.css";

.desc {
  max-width: 36rem;
}

h5 {
  grid-column: 1;
  white-space: nowrap;
}

.el {
  grid-column-start: 2;
  grid-column-end: span 2;
}

output.val{
  font-family: var(--monoFont);
}


pre,code{
  grid-column-start: 4;
  grid-column-end: span 4;
  letter-spacing: unset;
  white-space: break-spaces;
  font-weight: 400;
  align-self: flex-start;
	color: var(--foregroundColor);
	background: #f6f8fa;
	font-family: "SF Mono","Roboto Mono Var", "Roboto Mono", "JetBrains Mono", monospace;
	font-size: 0.9rem;
  border-radius: 0.2857142857rem;
	hyphens: none;

  margin-top: -0.6rem;
}
.dark code,.dark pre{
  background: var(--depth1);
}
pre {
  overflow: auto;
	padding: 0.8rem 2.1rem 0.8rem 1rem;
}

::selection{
	background: #cceae7;
	color: #263238;
}
.dark ::selection{
	background: #cceae71a;
	color: var(--foregroundColor);
}
.token.attr-name { color: #005cc5 }
.token.attr-value { color: #032f62 }
.token.tag { color: #22863a }
.dark .token.attr-name { color: #79c0ff }
.dark .token.attr-value { color: #a5d6ff }
.dark .token.tag { color: #7ee787}
.token.punctuation { color: var(--foregroundColor) }


.github {
  margin-right: 0.8571428571rem;
}

fieldset {
  padding: revert;
  margin: revert;
  border: revert;
}

.range {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
}
.range .val {
  padding-left: var(--baseUnit);
}

/* >1120px */
@media only screen and (max-width: 70rem) {
  h5 {
    grid-column: 1;
    white-space: nowrap;
  }

  .el {
    grid-column-start: 2;
    grid-column-end: span 3;
  }

  pre {
    grid-column-start: 5;
    grid-column-end: -1;
  }
}

/* >800 */
@media only screen and (max-width: 50rem) {
  main.grid {
    grid-template-columns: repeat(4, 1fr);
  }
  h5 {
    grid-column: 1;
  }

  .el {
    grid-column: 2/-1;
  }

  pre {
    grid-column-start: 2;
    grid-column-end: -1;
    min-height: unset;
  }
}

/* <600px */
@media only screen and (max-width: 37.5rem) {
  h5 {
    grid-column: 1/-1;
  }

  .el {
    grid-column: 1/-1;
  }

  pre {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

/* Debug-Grid */
body {
  position: relative;
}
.debug-grid {
  pointer-events: none;
  position: absolute;
  inset: 0 calc(var(--baseUnit) * 2) 0 calc(var(--baseUnit) * 2);
  display: none;
}
.debug-grid.active {
  display: grid;
}
.debug-grid > * {
  grid-row: 1/-1;
  margin-top: -1px;
  margin-bottom: -1px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}
.dark .debug-grid > * {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
}
@media screen and (max-width: 600px) {
  .debug-grid {
    inset: 0 var(--baseUnit) 0 var(--baseUnit);
  }
}

@media only screen and (max-width: 50rem) {
  .debug-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .debug-grid .lg {
    display: none;
  }
}
